body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/*Navbar/header styleing*/
.navbar{
    height: 5rem;
    background-color: white;
}

.Wanderlust{
    font-size: 1.7rem;
    text-decoration: none;
    color: #000000;
    opacity: 1;
}
.Wanderlust:hover{
    
    opacity: 0.7;
    cursor: pointer;

  
}

.nav-link{
    color: #222222  !important; /* here important islye use kiya becouse isper bootstrap ki style h us ko override karne k liye */
}

/*footer styleing*/
.f-info-links a{
    text-decoration: none;
    color: #222222
}

.f-info-links a:hover{
    text-decoration: underline ;
}


.f-info-links,
.f-info-socials {
    width: 100%;
    display: flex;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
} 

.f-info-socials i{/*here "i" stands for icons */
    font-size: 1.2rem;
    margin-right: 0.5rem;
}


.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.f-info-brand{
    width: 100%;
    display: flex;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;

}

/* Card */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;

}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    border: none !important;
   
}

.card-body{
    padding: 0 !important;
    border:none !important;
}

.achor {
    text-decoration: none;
}

.card-text p{
    font-weight: 400 !important ;
    border:none !important;
}
/* Card Effect */

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}


/* new ejs page */

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/*edit ejs page */

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}



/* show ejs page */

.show-img{
    height:30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
    border: none !important;
}


/* Map */


#map{
    height: 400px;
    width:70vh;
    border-radius: 0.6rem;
}

/* homepage filters */


#filters{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
}

.filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.8;
    
}

.filter:hover{
    opacity: 1.1;
    cursor: pointer;
}

.filter a {
    text-decoration: none;
    color: black;
}

.filter p{
    font-size: 0.8rem;
}

.tax-info{
    display: none;
}

.tax-toggle{
    border: 0.5px solid rgb(175, 171, 171);
    background-color: #F8FAFC;
    border-radius: 1rem;
    height: 3.5rem;
    padding: 0.7rem;
    margin-left:0.5rem; 
    display: flex;
    align-items: center;
}
@media (min-width: 300px) and (max-width: 768px) {
    .tax-info {
      display: none;
    }
    .tax-toggle {
      margin-left: 2rem;
      margin-top: 1rem;
    }
    .card-text{
      font-size: 0.9rem;
      width: 130%;
    }
    body{
      overflow-x: hidden;
    }
    .card-review-box{
      display: flex !important;
      flex-direction: column !important;
      width: 80% !important;
      align-items: center !important;
    }
  }
  
@media (min-width: 300px) and (max-width: 950px) {
    #map{
      width: 100%;
    }
}

/* search bar */

.search-btn{
    background-color: #000000;
    color:#fff;
    border-radius:25px;
    padding: 0 1rem 0 1rem;
    border:none;
}

.search-btn:hover{
    background-color: #000000;
    color:#fff;
    
}

.search-btn i{
    display:inline;
    margin-right: 0.5rem;
}

.search-inp{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size:0.8;
}





